<!-- recipe partial -->
<!-- This is formatted for displaying in a list -->

<li>
	<div class="span1">
		<%= link_to image_tag(recipe.photo_url), recipe %>
		
	</div>
	<div class="span5">

			<h3><%= link_to recipe.title, recipe  %></h3>

			<i class="icon-time"></i> 45min

			<i class="icon-home"></i> Serves 4

	</div>
	<div class="span2">
		<% if !current_user.nil? %>
			<%= btn_icon "icon-plus" %>

			<%= form_for(current_user.relationships.build(recipe_id: recipe.id)) do |f| %>
			<div><%= f.hidden_field :recipe_id %></div>
			
			<%= f.submit nil, class: "btn btn-mini" do %>
			<% end %>
			
			<% if current_user.admin? %>
				<%= btn_icon "icon-remove", { obj: recipe, method: :delete } %>
				<%= btn_icon "icon-pencil", { obj: "recipes/#{recipe.id}/edit", method: :get } %>
			<% end %>
		<% end %>
	</div>

</li>